body {
  max-width: 100%;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  padding: 0px;
  margin: 0;
  padding-top: 25px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.logo-header img {
  width: 160px;
  height: 40px;
  padding: 0;
  padding-top: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-header,
.description-header,
.contacts-header,
.button-header {
  width: 300px;
  text-align: center;
  vertical-align: middle;
}

.contacts-header {
  text-align: left;
  margin-left: 210px;
}

span {
  font-family: "Arial", serif;
  font-size: 14px;
}

.contacts-header img {
  float:left;
  margin-right: 10px;
}


.button-header {
padding-top: 10px;
}

.header-btn {
  width: 180px;
  height: 40px;
  background-color: #de3b3c;
  color: #ffffff;
  border: none;
  border-radius: 25px 25px 25px 25px;
}

.nav-menu {
  padding: 0;
  margin: 0 auto;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 43px;
  margin-top: 120px;
}

.menu-point { 
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 28px;
  margin-top: 12px;
}

.menu-point:first-child {
  margin-left: 80px;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Arial", serif;
  font-weight: 700;
}

.test-block {
  background-image: url('../img/test-block-bg.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  
}

.test-block .container {
  text-align: center;
  height: 550px;
  display: flex;
  flex-direction: column;
  
}

.test-block-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 46px;
  font-weight: 700;
  font-family: "Arial", serif;
  color: #ffffff;
}

.yellow {
  font-size: 46px;
  font-weight: 700;
  font-family: "Arial", serif;
  color: #ffe100;
}

.test-content {
  text-align: center;
}

.test-block .container:first-child {
  padding-top: 140px;
}

.test-content h3 {
  font-family: "Arial" serif;
  font-size: 32px;
  color: #ffffff;
}

.test-content p {
  font-family: "Arial" serif;
  font-size: 24px;
  color: #ffffff;
}

.test-btn {
  width: 260px;
  height: 60px;
  background-color: #de3b3c;
  color: #ffffff;
  border: none;
  border-radius: 25px 25px 25px 25px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.main-info {
  height: 1800px;
  border: 1px solid black;
}

.main-title h2 {
  color: black;
  font-size: 42px;
  font-weight: 700;
  font-family: "Arial", serif;
  text-align: center;

  width: 100%;
}


.main-info .container {
  display: flex;
  flex-direction: column;
}

#tab2, #tab3 {position: fixed; }

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 > div { 
  padding: 5px; 
  border: 1px solid black; 
  font-size: 22px;
  color: blue;
}

.menu1 > a:hover {
  color: red;
}

.menu1 > a:active {
  color: red;
}

.menu1 > a { line-height: 28px; background: #fff; text-decoration: underline; }

#tab2,
#tab3,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1) {display: none; }

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3) { display: block; }

.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3) { border-bottom: 2px solid #fff; }

.tab-img img {
width: 40%;
margin: 0;
padding: 0;
float: left;
margin: 20px;
}

.tab-content {
  width: 50%;
  margin: 0;
  padding: 0;
  float: right;
 
}

.tab-content h3 {
  color: black;
  font-size: 34px;
  font-weight: 700;
  font-family: "Arial", serif;
  text-align:left;
}

.tab-content {
  color: black;
  font-size: 18px;
  font-weight: 400;
  font-family: "Arial", serif;
  text-align:left;
  padding-right: 10px;
}

.clear {
  clear: both;
}

.tab-content .test-content {
  margin-top: 30px;
}
.examples {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  text-align: center;
  margin-top: 90px;
}

.example img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 auto;
}

.production {
  margin-top: 50px;
  color: #505667;

}

.production h4,
.production h3 {
  margin-top: 30px;
  text-align: center;
}

.production h3 {
  font-size: 38px;
  font-weight: bold;
}

.example h4 {
  font-size: 24px;
  font-weight: bold;
  padding: 40px;
}

.example p {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.separate-info {
  background-color: #efefef;
  text-align: center;
  height: 510px;
  padding-top: 110px;
}

.separate-info h2 {
 margin-bottom: 120px;
 color: #505667;
 font-size: 42px;
}

.separate-info h4 {
  margin-bottom: 120px;
  color: #505667;
  font-size: 36px;
}

.how-it-works {
  height: 600px;
}

.how-it-works h3 {
  font-size: 38px;
  font-weight: 700;
  font-family: "Arial", serif;
  text-align: center;
  margin-top: 80px;
}

.how-it-works h4 {
  font-size: 28px;
  font-weight: 100;
  font-family: "Arial", serif;
  text-align: center;
}

.how-it-works img {
  margin-left: 25%;
  margin-top: 30px;
}

.maps {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.map {
  z-index: 1;
}

.map-description {
  height: 300px;
  width: 250px;
  background-color: #ffffff;
  position: absolute;
  top: 3500px;
  left: 200px;
  z-index: 2;
  padding: 50px;
}

.alarm-text {
  color: red;
}


.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.footer-right-column h2 {
  font-weight: 900;
  font-size: 34px;
  font-family: "Arial", serif;
  color: black;
  line-height: 1.5;
  width: 420px;
 
}

.footer-right-column p {
  font-size: 18px;
  color: #505667;
  width: 420px;
  
}

.kp-button {
  margin-top: 50px;
  
}

.kp-button .test-btn {
  width: 380px;
}

.footer-number h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: blue;
  text-align: center;
  margin-top: 150px;
}

.footer-contacts {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #505667;
  margin-bottom: 50px;
}

.developer {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #e5e5e5;
  margin-bottom: 50px;
}





